<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Join The Club</title>
</head>

<body>
  <form action="/join-the-club" method="post" class="join-the-club">
    <label for="membershipPassword">Enter the Membership Password</label>
    <input type="text" id="membershipPassword" name="membershipPassword" placeholder="Membership Password">
    <button type="submit">Confirm</button>
  </form>
</body>

</html>