<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Message</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/style.css">
</head>

<body>
  <div class="new-message">
    <form action="/create-new-message" class="new-message__form" method="post">
      <div class="message-title">
        <label for="" class="message-title__label"></label>
        <input type="text" class="message-title__input" placeholder="Title of your message" name="title">
      </div>
      <div class="message-text">
        <label for="" class="message-text__label"></label>
        <input type="text" class="message-text__input" placeholder="Message" name="message">
      </div>
      <button class="create-new-message__submit">Create New Message</button>
    </form>
  </div>
</body>

</html>