:root {
  --main-color: #b8b8ff;
  --second-color: #9381ff;
  --text-color: #f8f7ff;
  --font: "Lato", sans-serif;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-family: var(--font);
}

input,
button {
  font-family: inherit;
}

ul {
  list-style: none;
}

.sign-up,
.login,
.join-the-club {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sign-up-form,
.full-name,
.login-form,
.join-the-club__form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.sign-up-form,
.login-form,
.join-the-club__form {
  padding: 40px 20px;
  background-color: var(--main-color);
  border-radius: 5px;
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.4);
}

.sign-up-form__title,
.login-form__title,
.join-the-club__form label {
  font-size: 25px;
  text-align: center;

  font-weight: bold;
  color: var(--text-color);

  margin-bottom: 10px;
}

.full-name__first-name,
.full-name__last-name,
.username,
.password,
.confirm-password,
.login-form__username,
.login-form__password {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.full-name__first-name__label,
.full-name__last-name__label,
.username__label,
.password__label,
.confirm-password__label,
.login-form__username label,
.login-form__password label {
  font-size: 18px;
  font-weight: 600;
  color: var(--text-color);
}

.full-name__first-name__input,
.full-name__last-name__input,
.username__input,
.password__input,
.confirm-password__input,
.login-form__username input,
.login-form__password input,
.join-the-club__form input {
  padding: 5px 3px;
  width: 100%;

  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

.signup-form__submit,
.login-form__submit,
.join-the-club__form button {
  cursor: pointer;

  margin-top: 10px;

  border: none;
  outline: none;

  padding: 5px 5px;

  font-size: 18px;

  background-color: var(--second-color);
  color: var(--text-color);
}

.already-have-an-account,
.create-an-account {
  margin-top: 10px;
  text-decoration: none;
  color: var(--second-color);
}

.already-have-an-account:hover,
.create-an-account:hover {
  color: var(--main-color);
}

.members-only {
  margin-bottom: 10px;
  font-size: 28px;
  color: var(--second-color);
  text-decoration: none;
}

.error-message {
  color: #780000;
  font-size: 14px;
}

.error-message-login {
  font-size: 18px;
}

.header {
  background-color: var(--main-color);
}

.nav {
  padding: 15px 30px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  font-size: 28px;
  color: var(--second-color);
}

.nav a {
  text-decoration: none;
}

.navigation {
  display: flex;
  gap: 15px;
}

.navigation__link {
  background-color: var(--second-color);
  color: var(--text-color);

  border: none;
  outline: none;

  padding: 5px 10px;

  font-size: 18px;
}
